<%= render 'header', article: @article %>
<h1>New Article</h1>
<%= render 'form', article: @article %>

<p> <%= link_to "Back", articles_path </p>

<p>Find me in app/views/articles/create.html.erb</p>
